<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgur.com%2FOvMZBs9.jpg&f=1&nofb=1" alt="TODO logo">
    <h2>{{ greeting }}</h2>
    <input
      v-model="todo.title"
      type="text"
      name="title"
    />
    <button @click="addTodo" title="Add a new todo item">Add</button>
    <ul>
      <li v-for="todo in todos" :key="todo.id">
        {{ todo.title }}
        <button @click="delTodo(todo.id)" title="Delete todo item.">Del</button>
      </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: '#app',

      data() {
        return {
          greeting: 'Welcome to the Web Underground!',
          todo: {
            title: null,
          },
          todos: [],
        }
      },

      mounted() {
        window.ug.ping();
        this.getTodos();
      },

      watch: {
        todos: {
          handler() {
              localStorage.setItem('todos', JSON.stringify(this.todos));
            },
          deep: true,
        },
      },

      methods: {
        getTodos() {
          const todos = JSON.parse(localStorage.getItem('todos'));
          this.todos = todos || [];
        },

        addTodo() {
          this.todos.push({
            id: Math.random().toString().substr(2, 8),
            title: this.todo.title,
          });
          this.todo = {
            title: null,
          };
        },

        delTodo(id) {
          this.todos = this.todos.filter((obj) => (obj.id !== id));
        },
      },

    })
  </script>
</body>
</html>
